@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

:root {
	--dark-color-a: #346;
	--dark-color-b: #468;
	--light-color: #eaefff;
	--success-color: #5cb85c;
	--error-color: #d9534f;
	--button-color: var(--light-color);

	--fontSize-small: .8rem;

	--site-header-height: 50px;
	--maxWidth-content: 1400px;
}

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

h1, h2, h3, h4, h5, h6 {
	margin: 0;
	padding:0;
}

body,
.btn,
input, 
textarea,
select {
	font-family: Courier New, sans-serif;
}

body {
	font-size: 16px;
	background: var(--light-color);
}

ul {
	list-style: none;
}

a {
	text-decoration: none;
}

textarea {
	min-height:200px;
	width:100%;
	padding:.5rem;
}

.btn {
	cursor: pointer;
	padding: 5px 15px;
	background: var(--button-color);
	color: var(--dark-color-a);
	border: 0;
	font-size: 17px;
}

.link {
	cursor:pointer;
}

a, 
.link { color:#36a; }

a:hover,
.link:hover {
	text-decoration:underline;
}

.panel--inverted {
	color:#fff;
}

.panel--inverted .link,
.panel--inverted a {
	color:#fff;
	text-decoration: underline;
}
